@import "../../styles/_mixin";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logoImg {
    width: 224px;
    height: 73px;

    @include tabletSmall() {
      width: 148px;
      height: 48px;
    }
  }
}
