/* Mixin for media queries */
@mixin desktop() {
  @media (max-width: 1537px) {
    @content;
  }
}

@mixin desktopMedium() {
  @media (max-width: 1367px) {
    @content;
  }
}

@mixin desktopSmall() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tabletSmall() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 612px) {
    @content;
  }
}

@mixin mobileSmall() {
  @media (max-width: 400px) {
    @content;
  }
}

/* Mixin for flexbox */

@mixin display-flex(
  $flex-direction: row,
  $align-items: unset,
  $justify-content: unset
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
