@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
@import "./_mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
}

.Toastify__toast-container--top-right {
  top: 90px !important;
  right:0;
  width: 321px;
  height: 60px;
  margin: 0px 10px;
  @include mobile() {
    top: 10px !important;
    width: 355px;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--error,
.Toastify__toast-theme--colored.Toastify__toast--success {
  font-size: 16px !important;
  line-height: 23px;
  box-shadow: 0px 3px 12px #1E36482E;;
  border-radius: 8px;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #F1FFF0;
  color: #46AF32 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #FFE5E5;
  color: #F77474 !important;
}
.Toastify__close-button {
  display: none;
}
