@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";
@import "./_mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;

  .main {
    height:100%;
    width:100%;
    display: flex;
    padding-bottom: 8.33vw;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;

    @include mobile() {
      padding-bottom: 3.66vw;
    }

    .navbar {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 80px;
      background-color: #fff;

      @include mobile() {
        height: 60px;
      }

      .navbarContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 77.1%;
        height: 100%;

        @include mobile() {
          width: 94.66%;
        }

        .logo {
          width: fit-content;
          height: fit-content;

          .logoImg {
            width: 128px;
            height: 42px;

            @include mobile() {
              width: 99px;
              height: 32px;
            }
          }
        }

        .navbarButtons {
          display: flex;

          button {
            padding-block: 10px;
            padding-inline: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
            line-height: 20px;
            color: #4b9ce2;
            background-color: #f0f8ff;
            border: 0px;
            border-radius: 8px;
            margin-left: 10.5px;

            &:hover {
              cursor: pointer;
            }

            @include mobile() {
              &:nth-child(2) {
                display: none;
              }
            }

            .icon {
              margin-right: 5px;
            }
          }

          .addButton {
            display: none;

            &:hover {
              cursor: pointer;
            }

            @include mobile() {
              display: block;
            }

            .icon {
              margin-right: 0px;
            }
          }
        }
      }
    }

    .error {
      display:flex;
      flex-direction :column;
      justify-content: center;
      align-items: center;
      width: 500px;
      margin-top: 20px;
      padding: 30px;
      background-color: #fff;
      border: 1px solid #4b9ce2;
      border-radius: 8px;
      text-align: start;

      @include mobile() {
        width: 80%;
        margin-top: 10px;
      }
    
      .errorContent {
        width: 128px;
        height: 128px;

        .errorImg {
          width: 100%;
        }
      }
    
      .errorMessage {
        font-size: 40px;
        color: #525252;
        text-align: center;
      }
    }

    .banner {
      width: 100%;
      height: fit-content;
      margin-top: 20px;
      display: flex;
      justify-content: center;

      @include mobile() {
        margin-top: 10px;
      }

      .bannerContent {
        width: 77.1%;

        @include mobile() {
          width: 94.66%;
        }

        .bannerImg {
          border-radius: 8px;
        }
      }
    }

    .category {
      width: 100%;
      height: 41.4px;
      display: flex;
      justify-content: center;
      margin-block: 30px;

      @include mobile() {
        height: 33.2px;
        margin-block: 20px;
      }

      .categoryContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 77.1%;
        height: 100%;
        border-bottom: 1px solid #e0e0e0;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        @include mobile() {
          width: 94.66%;
        }

        span {
          font-size: 18px;
          line-height: 24px;
          color: #525252;
          font-weight: 600;
          height: 100%;
          margin-left: 25px;

          &:hover {
            cursor: pointer;
          }

          &:first-child {
            margin-left: 0px;
          }

          &.active {
            color: #4b9ce2;
            border-bottom: 2px solid #4b9ce2;
          }
        }
      }
      .categoryContent::-webkit-scrollbar {
        display: none;
      }
    }

    .product {
      width: 100%;
      display: flex;
      justify-content: center;

      .productContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 77.1%;
        gap: 20px;

        @include mobile() {
          width: 94.66%;
          gap: 10px;
        }

        .productItem {
          width: 280px;
          height: 392px;
          background-color: #fff;
          border-radius: 8px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          
          .productImg {
            width: 280px;
            height: 397px;
            border-radius: 8px;
          }

          .productDetail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            
            .productBrand {
              font-size: 15px;
              font-weight: bold;
              line-height: 22px;
              color: #4B9CE2;
            }

            .productColor {
              font-size: 13px;
              line-height: 22px;
              color: #3E3E3E;
            }
          }

          .productPrice {
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            color: #3E3E3E;
            display: flex;
            align-self: flex-end;
          }

        }

        .productNotFound {
          width: 100%;
          padding: 20px;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
          color: #3E3E3E;
          text-align: center;
        }
      }
    }
  }
}

.Toastify__toast-container--top-right {
  top: 90px !important;
  right: 0;
  width: 321px;
  height: 60px;
  margin: 0px 10px;
  @include mobile() {
    top: 10px !important;
    width: 355px;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--error,
.Toastify__toast-theme--colored.Toastify__toast--success {
  font-size: 16px !important;
  line-height: 23px;
  box-shadow: 0px 3px 12px #1e36482e;
  border-radius: 8px;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #f1fff0;
  color: #46af32 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #ffe5e5;
  color: #f77474 !important;
}
.Toastify__close-button {
  display: none;
}
